# CONTENT LIST
1. Import Libraries
2. Importing final merged data from task 7
3. Performing a single aggregation
4. Performing multiple aggregations
5. Create order frequency flag for each user based on days_since_prior_order
6. Exporting final df_ords_prods_merge data

# Task 8

Step 1) Create a new notebook for this task. Be sure to import the relevant libraries, along with your ords_prods_merge dataframe, which should include your newly derived columns from the previous Exercise.

# 1. Importing Libraries

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os

# 2. Importing final merged data

In [2]:
# Creating common folder path
path = r'C:\Users\Mukund\Desktop\Career Foundry\Instacart_Grocery_Basket_Analysis_May_2021'

In [3]:
path

'C:\\Users\\Mukund\\Desktop\\Career Foundry\\Instacart_Grocery_Basket_Analysis_May_2021'

In [4]:
# Importing orders and products merged data
df_ords_prods_merge = pd.read_pickle(os.path.join(path, 'Data', 'Prepared_data', 'orders_products_merged_with_columns.pkl'))

In [5]:
df_ords_prods_merge.shape

(32404859, 18)

In [6]:
df_ords_prods_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 18 columns):
 #   Column                  Dtype
---  ------                  -----
 0   product_id              int64
 1   product_name            object
 2   aisle_id                int64
 3   department_id           int64
 4   prices                  float64
 5   order_id                int64
 6   add_to_cart_order       int16
 7   reordered               int8
 8   user_id                 int64
 9   order_number            int64
 10  orders_day_of_week      int8
 11  order_hour_of_day       int8
 12  days_since_prior_order  int16
 13  _merge                  category
 14  price_range_loc         object
 15  Busiest_Day             object
 16  Busiest_Days            object
 17  busiest_period_of_day   object
dtypes: category(1), float64(1), int16(2), int64(6), int8(3), object(5)
memory usage: 3.4+ GB

In [7]:
df_ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,add_to_cart_order,reordered,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,_merge,price_range_loc,Busiest_Day,Busiest_Days,busiest_period_of_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,1107,7,0,38259,2,1,11,7,both,Mid-range product,Regularly busy,Busiest days,Most orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,5319,3,1,196224,65,1,14,1,both,Mid-range product,Regularly busy,Busiest days,Most orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,7540,4,1,138499,8,0,14,7,both,Mid-range product,Busiest day,Busiest days,Most orders
3,1,Chocolate Sandwich Cookies,61,19,5.8,9228,2,0,79603,2,2,10,30,both,Mid-range product,Regularly busy,Regular days,Most orders
4,1,Chocolate Sandwich Cookies,61,19,5.8,9273,30,0,50005,1,1,15,0,both,Mid-range product,Regularly busy,Busiest days,Most orders

Step 2) In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.

# 3. Performing a single aggregation

In [9]:
# Performing a single aggregation
df_ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

Step 3) Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code.

From the subset aggregation we know that departments with ids 14, 16, and 19 (Breakfast, Dairy eggs and snacks respectively) have an average around 19 and department id 17 (Household) has an average of orders around 11. 

From entire dataframe we have department ids 10 and 21(bulk and missing respectively) having average around 20 and plus and on other hand departments with ids 1, 5, 8, 9, 12, 17 (Frozen, Alcohol, Pets, dry goods pasta, meat seafood and household respectively) having average sell around 15 which is the minimum compared to other departments.

Step 4) Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

In [10]:
# Creating the new column for max freq of orders for each user_id
df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [11]:
# Checking the data with new column created ('max_order')
df_ords_prods_merge.head(15)

,product_id,product_name,aisle_id,department_id,prices,order_id,add_to_cart_order,reordered,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,_merge,price_range_loc,Busiest_Day,Busiest_Days,busiest_period_of_day,max_order
0,1,Chocolate Sandwich Cookies,61,19,5.8,1107,7,0,38259,2,1,11,7,both,Mid-range product,Regularly busy,Busiest days,Most orders,4
1,1,Chocolate Sandwich Cookies,61,19,5.8,5319,3,1,196224,65,1,14,1,both,Mid-range product,Regularly busy,Busiest days,Most orders,99
2,1,Chocolate Sandwich Cookies,61,19,5.8,7540,4,1,138499,8,0,14,7,both,Mid-range product,Busiest day,Busiest days,Most orders,23
3,1,Chocolate Sandwich Cookies,61,19,5.8,9228,2,0,79603,2,2,10,30,both,Mid-range product,Regularly busy,Regular days,Most orders,5
4,1,Chocolate Sandwich Cookies,61,19,5.8,9273,30,0,50005,1,1,15,0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22
5,1,Chocolate Sandwich Cookies,61,19,5.8,9696,5,1,108919,46,5,16,8,both,Mid-range product,Regularly busy,Regular days,Most orders,51
6,1,Chocolate Sandwich Cookies,61,19,5.8,11140,1,1,63782,4,1,14,14,both,Mid-range product,Regularly busy,Busiest days,Most orders,6
7,1,Chocolate Sandwich Cookies,61,19,5.8,11485,4,0,170451,5,5,18,24,both,Mid-range product,Regularly busy,Regular days,Average orders,10
8,1,Chocolate Sandwich Cookies,61,19,5.8,12672,3,1,106854,28,5,10,6,both,Mid-range product,Regularly busy,Regular days,Most orders,99
9,1,Chocolate Sandwich Cookies,61,19,5.8,13668,4,1,181127,10,4,17,9,both,Mid-range product,Least busy,Slowest days,Average orders,22
10,1,Chocolate Sandwich Cookies,61,19,5.8,14668,13,1,106519,18,0,22,7,both,Mid-range product,Busiest day,Busiest days,Average orders,23
11,1,Chocolate Sandwich Cookies,61,19,5.8,16132,1,1,145505,64,2,10,5,both,Mid-range product,Regularly busy,Regular days,Most orders,67
12,1,Chocolate Sandwich Cookies,61,19,5.8,18303,1,1,139923,16,0,23,14,both,Mid-range product,Busiest day,Busiest days,Fewest orders,39
13,1,Chocolate Sandwich Cookies,61,19,5.8,19479,5,0,110984,2,2,12,20,both,Mid-range product,Regularly busy,Regular days,Most orders,16
14,1,Chocolate Sandwich Cookies,61,19,5.8,19569,9,1,180719,84,4,19,0,both,Mid-range product,Least busy,Slowest days,Average orders,89

In [12]:
# Creating flag based on max order count ('Loyal customer')
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [13]:
# 'Regular customer'
df_ords_prods_merge.loc[(df_ords_prods_merge['max_order'] <= 40) & (df_ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [14]:
# 'New customer'
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [15]:
df_ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [16]:
df_ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,add_to_cart_order,reordered,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,_merge,price_range_loc,Busiest_Day,Busiest_Days,busiest_period_of_day,max_order,loyalty_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,1107,7,0,38259,2,1,11,7,both,Mid-range product,Regularly busy,Busiest days,Most orders,4,New customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,5319,3,1,196224,65,1,14,1,both,Mid-range product,Regularly busy,Busiest days,Most orders,99,Loyal customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,7540,4,1,138499,8,0,14,7,both,Mid-range product,Busiest day,Busiest days,Most orders,23,Regular customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,9228,2,0,79603,2,2,10,30,both,Mid-range product,Regularly busy,Regular days,Most orders,5,New customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,9273,30,0,50005,1,1,15,0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer

In [17]:
df_ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0     38259      New customer             2
1    196224    Loyal customer            65
2    138499  Regular customer             8
3     79603      New customer             2
4     50005  Regular customer             1
5    108919    Loyal customer            46
6     63782      New customer             4
7    170451      New customer             5
8    106854    Loyal customer            28
9    181127  Regular customer            10
10   106519  Regular customer            18
11   145505    Loyal customer            64
12   139923  Regular customer            16
13   110984  Regular customer             2
14   180719    Loyal customer            84
15   142388  Regular customer             7
16   200356  Regular customer            11
17     4122  Regular customer            11
18   162394      New customer             2
19   148255  Regular customer            18
20   205157  Regular customer            11
21   181127  Regular customer             3
22    92648  Regular customer             8
23    30345      New customer             6
24    50898  Regular customer            28
25    57996    Loyal customer            12
26    77956    Loyal customer            90
27    22561      New customer             4
28   199115  Regular customer            20
29    91160    Loyal customer            32
30    50150  Regular customer            17
31    38748  Regular customer            16
32    65777    Loyal customer            47
33   134728  Regular customer            18
34    11119  Regular customer            18
35    45784  Regular customer             4
36    21054      New customer             3
37   196224    Loyal customer            23
38   102960    Loyal customer            21
39   113429  Regular customer            17
40   111982    Loyal customer            76
41   144159  Regular customer             3
42    72224    Loyal customer            12
43    23234  Regular customer            10
44   131925  Regular customer             8
45    16057  Regular customer             2
46   124716      New customer             5
47    60380  Regular customer            26
48   197324  Regular customer            12
49   157800  Regular customer             9
50    48228      New customer             1
51    23513  Regular customer             5
52    95847    Loyal customer            44
53   101727  Regular customer            28
54   139923  Regular customer            19
55    11448  Regular customer            20
56   162795  Regular customer             6
57   134130  Regular customer            13
58   178504  Regular customer             8
59    80421      New customer             8

Step 5) The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

# 4. Performing multiple aggregations

In [18]:
# Performing multiple aggregations
df_ords_prods_merge.groupby('loyalty_flag').agg({'prices' : ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

Step 6) The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:
If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [19]:
# Creating the new column for mean price of item for each user_id
df_ords_prods_merge['Spending'] = df_ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [20]:
# Creating flag based on mean price ('Low spender')
df_ords_prods_merge.loc[df_ords_prods_merge['Spending'] < 10, 'Spending_Flag'] = 'Low spender'

In [21]:
# 'High Spender'
df_ords_prods_merge.loc[df_ords_prods_merge['Spending'] >= 10, 'Spending_Flag'] = 'High spender'

In [22]:
# checking count of 'Spending flag'
df_ords_prods_merge['Spending_Flag'].value_counts(dropna = False)

Low spender     31770746
High spender      634113
Name: Spending_Flag, dtype: int64

In [23]:
# # Checking important columns data
df_ords_prods_merge[['user_id', 'Spending_Flag', 'Spending']].head(60)

    user_id Spending_Flag  Spending
0     38259   Low spender  7.163333
1    196224   Low spender  5.342729
2    138499   Low spender  7.469540
3     79603   Low spender  6.986207
4     50005   Low spender  7.493154
5    108919   Low spender  7.020681
6     63782   Low spender  5.700000
7    170451   Low spender  6.534286
8    106854   Low spender  8.594301
9    181127   Low spender  7.177143
10   106519   Low spender  6.582996
11   145505   Low spender  7.179795
12   139923   Low spender  6.353535
13   110984   Low spender  9.758140
14   180719   Low spender  8.588449
15   142388   Low spender  6.654412
16   200356   Low spender  8.658140
17     4122   Low spender  7.598765
18   162394   Low spender  7.355556
19   148255   Low spender  5.983893
20   205157   Low spender  6.322222
21   181127   Low spender  7.177143
22    92648   Low spender  6.060989
23    30345   Low spender  5.844000
24    50898   Low spender  7.315333
25    57996   Low spender  6.517469
26    77956   Low spender  7.289769
27    22561   Low spender  6.823810
28   199115   Low spender  6.740860
29    91160   Low spender  7.317925
30    50150   Low spender  7.997849
31    38748   Low spender  7.955443
32    65777   Low spender  6.275781
33   134728   Low spender  6.153191
34    11119   Low spender  5.878641
35    45784   Low spender  6.152740
36    21054   Low spender  5.189655
37   196224   Low spender  5.342729
38   102960   Low spender  7.327751
39   113429   Low spender  7.479439
40   111982   Low spender  4.827700
41   144159   Low spender  6.158452
42    72224   Low spender  6.765598
43    23234   Low spender  5.266667
44   131925   Low spender  7.351899
45    16057   Low spender  6.862338
46   124716   Low spender  6.517857
47    60380   Low spender  6.933043
48   197324   Low spender  8.269799
49   157800   Low spender  7.822115
50    48228   Low spender  5.998630
51    23513   Low spender  6.842857
52    95847   Low spender  7.067981
53   101727   Low spender  5.846154
54   139923   Low spender  6.353535
55    11448   Low spender  5.981250
56   162795   Low spender  5.297778
57   134130   Low spender  7.430492
58   178504   Low spender  8.745977
59    80421   Low spender  7.708621

Step 7) In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:
If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

# 5. Create order frequency flag for each user based on days_since_prior_order

In [24]:
# Creating the new column for median of 'days_since_prior_order' for each user_id
df_ords_prods_merge['Frequency'] = df_ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [25]:
# Creating flag based on median ('Non-frequent customer')
df_ords_prods_merge.loc[df_ords_prods_merge['Frequency'] > 20, 'Order_Frequency_Flag'] = 'Non-frequent customer'

In [26]:
# 'Regular customer'
df_ords_prods_merge.loc[(df_ords_prods_merge['Frequency'] > 10) & (df_ords_prods_merge['Frequency'] <= 20), 'Order_Frequency_Flag'] = 'Regular customer'

In [27]:
# 'Frequent customer'
df_ords_prods_merge.loc[df_ords_prods_merge['Frequency'] <= 10, 'Order_Frequency_Flag'] = 'Frequent customer'

In [28]:
# Checking the count of frequency flag
df_ords_prods_merge['Order_Frequency_Flag'].value_counts(dropna=False)

Non-frequent customer    25483387
Regular customer          6921472
Name: Order_Frequency_Flag, dtype: int64

In [29]:
# Checking important columns data
df_ords_prods_merge[['user_id', 'Order_Frequency_Flag', 'Frequency']].head(60)

    user_id   Order_Frequency_Flag  Frequency
0     38259  Non-frequent customer        7.0
1    196224  Non-frequent customer        1.0
2    138499  Non-frequent customer        7.0
3     79603  Non-frequent customer       28.0
4     50005  Non-frequent customer        7.0
5    108919  Non-frequent customer        7.0
6     63782       Regular customer       14.0
7    170451       Regular customer       14.0
8    106854  Non-frequent customer        2.0
9    181127       Regular customer       14.0
10   106519  Non-frequent customer        7.0
11   145505  Non-frequent customer        4.0
12   139923  Non-frequent customer       10.0
13   110984  Non-frequent customer       21.0
14   180719  Non-frequent customer        3.0
15   142388       Regular customer       15.0
16   200356       Regular customer       15.0
17     4122  Non-frequent customer        7.0
18   162394  Non-frequent customer        7.0
19   148255  Non-frequent customer        7.0
20   205157  Non-frequent customer       24.0
21   181127       Regular customer       14.0
22    92648  Non-frequent customer       10.0
23    30345  Non-frequent customer       30.0
24    50898  Non-frequent customer        4.0
25    57996  Non-frequent customer        6.0
26    77956  Non-frequent customer        4.0
27    22561  Non-frequent customer        9.0
28   199115  Non-frequent customer        7.5
29    91160  Non-frequent customer        2.0
30    50150  Non-frequent customer        7.0
31    38748       Regular customer       11.0
32    65777  Non-frequent customer        6.0
33   134728       Regular customer       14.0
34    11119       Regular customer       13.0
35    45784  Non-frequent customer        7.0
36    21054  Non-frequent customer       30.0
37   196224  Non-frequent customer        1.0
38   102960  Non-frequent customer        4.0
39   113429       Regular customer       12.0
40   111982  Non-frequent customer        4.0
41   144159  Non-frequent customer        7.0
42    72224  Non-frequent customer        7.0
43    23234  Non-frequent customer       30.0
44   131925       Regular customer       14.0
45    16057  Non-frequent customer        9.0
46   124716  Non-frequent customer       30.0
47    60380       Regular customer       14.0
48   197324       Regular customer       20.0
49   157800  Non-frequent customer       10.0
50    48228  Non-frequent customer       30.0
51    23513       Regular customer       12.0
52    95847  Non-frequent customer        4.0
53   101727  Non-frequent customer        7.0
54   139923  Non-frequent customer       10.0
55    11448       Regular customer       14.0
56   162795  Non-frequent customer        7.0
57   134130       Regular customer       13.0
58   178504  Non-frequent customer        7.0
59    80421       Regular customer       13.0

In [30]:
df_ords_prods_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 24 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   orders_day_of_week      int8
 4   order_hour_of_day       int8
 5   days_since_prior_order  int16
 6   product_id              int64
 7   add_to_cart_order       int16
 8   reordered               int8
 9   product_name            object
 10  aisle_id                int64
 11  department_id           int64
 12  prices                  float64
 13  _merge                  category
 14  price_range_loc         object
 15  Busiest_Day             object
 16  Busiest_Days            object
 17  busiest_period_of_day   object
 18  max_order               int64
 19  loyalty_flag            object
 20  Spending                float64
 21  Spending_Flag           object
 22  Frequency               float64
 23  Order_Frequency_Flag    object
dtypes: category(1), float64(3), int16(2), int64(7), int8(3), object(8)
memory usage: 5.8+ GB

In [30]:
df_ords_prods_merge['user_id'] = df_ords_prods_merge['user_id'].astype('int64')

# 6. Exporting final df_ords_prods_merge data

In [31]:
df_ords_prods_merge.to_pickle(os.path.join(path,'Data','Prepared_data','Orders_Poducts_Mrged_task_4_8_Final.pkl'))

In [32]:
df_ords_prods_merge['user_id'].unique()

array([ 38259, 196224, 138499, ...,  27382,  56454,  74506], dtype=int64)